html, body
{
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
#game, #overlay
{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: arial;
}
