.menu {
    background-color: black;
    position: absolute;
    top: 50px;
    left: 200px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    border: 2px solid black;
}

.menu ol {
    margin: 0;
    padding: 0;
}

.menu li {
    list-style-type: none;
    font-size: 12px;
    padding: 4px;
    width: 100px;
    border-radius: 8px;
    background-color: gray;
}