.menu {
    background-color: black;
    position: absolute;
    top: 50px;
    left: 200px;
    margin: 0;
    padding: 0;
}

.menu ol {
    margin: 0;
    padding: 0;
}

.menu li {
    list-style-type: none;
    font-size: 12px;
    width: 200px;
    padding: 2px;
}